.heading {
    display: flex;
    justify-content: flex-start;
    margin-right: -50px;
    width: 300px;
    margin-left: 50px;

}
.indent-text {
    padding-left: 20px;
}
.list{
    list-style:none;
}
body {
    border: #1F2937 5px solid;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
.heem {
    font-size: 30px;
    font-weight: bolder;
}
.grouplinks {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;  
    margin-right: 25px; 
}
.header {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}
.belowheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}
.top {
    width: 200px;
    color: white;
    font-weight: bolder;
    background-color: darkslategray;
}


.body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
.box {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.poem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.poem-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    background-color: #e5e7eb;
    box-shadow: 2px 2px 2px #1F2937;
}

.poem-post h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .poem-post {
        width: 100%;
    }
}
.poem-post p {
    text-align: justify;
}

.quote {
    justify-content: center;
    display: flex;
    margin-top: 150px;
}
.author {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;
}
.quote,
.author {
    background-color: lightgray;
}
.signup {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 25px;
    font-style: oblique;
}
.signupbox {
    display: flex;
    margin-top: 100px;
    border: 5px solid black;
    background-color: #3882f6 ;
    margin-bottom: 15px;
}
.button {
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.signupbutt {
    font-weight: bolder;
    color: darkblue;
}
.border {
    display: flex;
    justify-content: center;
}
.header,
.belowheader {
    background-color:#1F2937;
    color: #f9faf8;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    border: 1px black solid;
    margin-right: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-weight: bold;
    color: #f9faf8;
    margin-top: auto;

}
.description {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f1f1f1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.experience {
    padding-left: 20px;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.centered-paragraph {
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.econ-events-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .econ-events-container {
        flex-direction: column;
        align-items: center;
    }
}
.ecoTitle {
 margin-left: 250px;
}