.heading {
    display: flex;
    justify-content: flex-start;
    margin-right: -50px;
    width: 300px;
    margin-left: 50px;

}
body {
    border: #1F2937 5px solid;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}
.heem {
    font-size: 30px;
    font-weight: bolder;
}
.grouplinks {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;  
    margin-right: 25px; 
}
.header {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}
.belowheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-shrink: 0;
}
.top {
    width: 200px;
    color: white;
    font-weight: bolder;
    background-color: darkslategray;
}
.pic {
    display: flex;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    background-color: grey;

}

.body {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}
.box {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    background-color: #e5e7eb;
    box-shadow: 2px 2px 2px #1F2937;
}

.blog-post h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .blog-post {
        width: 100%;
    }
}
.blog-post p {
    text-align: justify;
}

.quote {
    justify-content: center;
    display: flex;
    margin-top: 150px;
}
.author {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-evenly;
}
.quote,
.author {
    background-color: lightgray;
}
.signup {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 25px;
    font-style: oblique;
}
.signupbox {
    display: flex;
    margin-top: 100px;
    border: 5px solid black;
    background-color: #3882f6 ;
    margin-bottom: 15px;
}
.button {
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.signupbutt {
    font-weight: bolder;
    color: darkblue;
}
.border {
    display: flex;
    justify-content: center;
}
.header,
.belowheader {
    background-color:#1F2937;
    color: #f9faf8;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    border: 1px black solid;
    margin-right: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-weight: bold;
    color: #f9faf8;
    margin-top: auto;

}
.description {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
